/* .main {
  display: flex;
  margin-top: 10px;
}

.main-card {
  height: 200px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 0.781);
  justify-content: space-between;
  background-color: rgba(255, 248, 220, 0.596);
}

.main-card-subtitle {
  color: rgba(0, 0, 0, 0.685);
}

.main-card-center {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-between;
 margin-top: -50px;
}

.main-card-centerLeft {
  margin-left: 15px;
  font-size: small;
  font-weight: 500;
}

.main-card-centerRight {
  display: flex;
  flex-direction: column;
  font-size: small;
  font-weight: 500;
}

.main-card-footer {
  display: flex;
  margin-left: 15px;
  justify-content: space-between;
}

*/
/*  */

/* 
.main-carousel {
  margin: 50px;
  text-align: center;
} 
:host ::ng-deep .carousel-slide-overlay {
  background-image: radial-gradient(
    rgba(86, 246, 238, 0.623) 5%,
    rgba(86, 246, 238, 0.822) 15%,
    rgba(86, 246, 238, 0.281) 60%,
    rgba(86, 246, 238, 0.089) 100%
  );
}

:host ::ng-deep .carousel-slide-content {

  font-size: x-large;
  font-weight: 400;

}

:host ::ng-deep .slide-title {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
}

:host ::ng-deep .slide-center {
  font-size: x-large;
  width: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 45%;
}

:host ::ng-deep .slide-center-left {
  font-size: medium;
  position: absolute;
  top: 40%;
  left: 5%;
}

:host ::ng-deep .slide-center-right {
  font-size: medium;
  width: fit-content;
  position: absolute;
  top: 40%;
  right: 5%;
}

.slide-bottom-right {
  width: fit-content;
  font-size: small;
  position: absolute;
  top: 80%;
  right: 5%;
} */
